*{
	margin:0;
	padding:0;
	left:0;
	right:0;
	box-sizing:border-box;
}
/*top bar*/
@media (min-width:360px){
	.container{
		width:95%;
		margin:auto;
	}
    .topbar{
        background: #fff;
        border-bottom: 1px solid #eee;
        font-size: 15px;
        height: 40px;
        padding:0.6rem 0;
    }
    .top-head{
        display: flex;
        justify-content: center;
    }
    .top-icon1{
        display: flex;
    }
    .top-icon1 i{
        font-size: 0.9rem;
        color: #428bca;
        padding: 5px;
    }
    .top-icon1 p{
        font-size:1rem;
        color:black ;
    }
    .top-icon2{
       display: none;
    }
	/* headersection */
	 .header{
        background-color: #fff;
        padding: 1rem 0;
    }
    .head{
        display: flex;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
    }
	.head-nav{
		display:none;
	}
    .head-nav a{
        text-decoration: none;
        padding-right: 2.5rem;
    }
    .head-mobileview i{
		color:black;
		font-size:2rem;
	}
    .head-title h1{
        font-size: 2rem;
        font-weight: 500;
        color: #5c768d;
    }
    .head-nav a{
        font-size: 1.1rem;
        color: #5c768d;
    }
	/* bannersection */
	.banner{
	background-image:url("../img/slide/slide-2.jpg");
	width:100%;
	height:100vh;
	background-position:top;
	position:relative;
}
.banner::after{
	content:"";
	background-color:rgba(13,30,45,0.6);
	opacity:0.8;
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
}
.banner-title{
	z-index:997;
	position:relative;
	padding:10rem 0 0 2rem;
}
.banner-title h2{
  color: #fff;
  margin-bottom:1.5rem;
  font-size: 1.7rem;
  font-weight: 900;
}
.banner-title p {
  font-size:1rem;
  color: #fff;
  width:80%;
  margin-bottom:3rem;
  line-height:1.5rem;
  text-align:;
}
.banner-button a{
	text-decoration:none;
	font-weight: 500;
    font-size: 0.9rem;
    letter-spacing:1px;
    padding: 7px 30px;
    border-radius: 5px;
    margin: 10px;
    color: #fff;
    border:2px solid #428bca;
	background-color:#428bca;
}
.banner-button a:hover {
	background-color:#1c5c93;
	border:2px solid #1c5c93;
}
/* aboutsection */
 .about-coloumn{
        margin: 5rem 0;
    }
    .about-row1{
        padding: 0.5rem;
    }
    .about-row1 img{
        width: 100%;
    }
    .about-head{
        margin-bottom: 3rem;
    }
    .about-row2{
        line-height: 1.2rem;
        padding:5rem 0 5rem 0;
    }
    .about-row2 h1{
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem;
        color: #5c768d;
    }
    .about-head p{
        margin-left: 3rem;
        text-align: left;
        width: 80%;
        word-spacing: 0.5rem;
        font-size: 1rem;
        font-style: italic;
        color: #666;
    }
    .about-content1{
        margin-left: 3rem;
        display: flex;
        margin:0 0 2rem 3rem;
    }
    .about-content2{
        margin-left: 3rem;
        display: flex;
		margin-left:3rem;
    }
	.shadow{
		box-shadow: 0 5px 25px 0 rgb(214 215 216 / 60%);
	}
    .about-icon i{
        color: #428bca;
        font-size: 2rem;
    }
    .about-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16rem;
        height: 4.5rem;
        background: #f1f7fb;
        border-radius: 6px;
    }
    .icon-content{
        padding-left:1.5rem;
    }
    .icon-content h2{
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 1rem;
        color: #343a40;
    }
    .icon-content p{
        text-decoration: none;
        font-size: 0.9rem;
        color: #666;
		width:80%;
    }
	/*----list section----*/
.list-row{
	margin:5rem 0;
}
.list-content{
	padding:3rem;
	
}
.list-content span{
	font-size: 2rem;
    font-weight: 400;
    color: #9eccf4;
}
.list-content h4{
	font-size: 1.8rem;
	color:#444;
    font-weight: 400;
    margin: 2rem 0;
}
.list-content p{
	color: #aaaaaa;
    font-size: 1rem;
	width:90%;
	line-height:1.3rem;
}
.bo-1,.bo-2,.bo-3,.bo-4,.bo-5{
	border-bottom:1px solid #d9e8f4;
}
/*count section*/
    .count{
        background-color: #f5f9fc;
        padding:0 0 5rem 0;
    }
    .count-row{
        gap: 2rem;
    }
    .count-content{
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 0 16px rgb(0 0 0 / 10%);
        padding:2.7rem 0;
        margin-bottom: 30px;
        text-align: center;
    }
    .count-content span{
        font-size: 2.5rem;
        display: block;
        font-weight: 700;
        color: #1c5c93;
        margin-bottom: 1rem;
    }
    .count-content p{
        font-size: 1rem;
    }
	/* service section */
	.service{
    padding: 5rem 0;
}
.service-title{
    text-align: center;
    margin-bottom: 3rem;
}
.service-title h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: #5c768d;
}
.service-row{
    justify-content: space-between;
}
.service-content{
    text-align: center;
    padding: 1rem;
}
.ser-icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 50%;
    color: #428bca;
    box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
}
.ser-icon i{
    font-size: 2rem;
}
.service-content:hover .ser-icon{
    box-shadow:0px 0 25px blue;
    transition: 2s;
}
.service-content h3{
    color: #444;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}
.service-content h3::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #428bca;
    margin: 0.7rem 0;
    left: calc(50% - 25px);
}
.service-content p{
    line-height: 1.5rem;
    font-size: 0.9rem;
    color: #aaaaaa;
}
    /* portfolio */
.portfolio{
    background-color:#f5f9fc;
    padding-bottom:5rem;
}
.port-title{
    padding-top: 5rem;
}
.port-title h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #5c768d;
}
.port-title p{
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 3rem;
    line-height: 1.4rem;
    color: #444;
}
.port-button{
    text-align: center;
    margin-bottom: 4rem;
}
.port-button a:hover{
    background-color: #1c5c93;
    color: #eee;
}
.port-button a{
    text-decoration: none;
    color: #000;
    font-size: 0.8rem;
    padding: 0.9rem;
    border:1px solid #fff;
    background-color: #fff;
    margin: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}
.pic-row{
    flex-wrap: wrap;
    gap: 1.5rem;
}
.pic-img img{
    width: 100%;
}
.pic-img{
    width: 100%;
    position: relative;
}
.pic-content{
    text-align: center;
    opacity: 1;
    padding: 5rem 0;
    align-items: center;
}
.pic-content h2{
    color: #eee;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.6rem;
}
.pic-content p{
    color: #eee;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.port-icon{
    text-align: center;
    display: flex;
    margin-left:8rem ;
}
.port-icon i{
    font-size: 1.3rem;
    border: 1px solid #DFF7F8;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    line-height: 40px;
    margin-right: 20px;
    background-color: #fff;
    color: #428bca;
    display: flow-root;
    text-align: center;
}
.pic-content{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
    text-align: center;
    background: rgba(31, 53, 72, 0.6);
    padding-bottom: 30px;
}
.pic-img:hover .pic-content{
   opacity: 1;
}
    }
@media (min-width:560px){
	.container{
		width:90%;
		margin:auto;
	}
    .topbar{
        background: #fff;
        border-bottom: 1px solid #eee;
        font-size: 15px;
        height: 40px;
        padding:0.6rem 0;
    }
    .top-head{
        display: flex;
        justify-content: center;
        justify-content: space-between;
    }
    .top-icon1{
		text-align:center;
		margin-left:0.6rem;
    }
    .top-icon1 i{
        font-size: 1rem;
        color: #428bca;
        padding: 5px;
    }
    .top-icon1 p{
        font-size:1rem;
        color:black ;
		margin-left:1rem;
    }
    .top-icon2{
        display:block;
		
        font-size: 1rem;
        color: #5c768d;
    }
	.top-icon2 i{
		padding:3px;
	}
    .top-icon2 i:hover{
        color:  #428bca;
    }
	/* headersection */
	.header{
        background-color: #fff;
        padding: 1.5rem 0;
    }
    .head{
        display: flex;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
    }
    .head-nav a{
        text-decoration: none;
        padding-right: 2.5rem;
    }
    
    .head-title h1{
        font-size: 2rem;
        font-weight: 500;
        color: #5c768d;
    }
    .head-nav a{
        font-size: 1.1rem;
        color: #5c768d;
    }
	/* banner section */
	
	.banner{
	background-image:url("../img/slide/slide-2.jpg");
	width:100%;
	height:100vh;
	background-position:top;
	position:relative;
}
.banner::after{
	content:"";
	background-color:rgba(13,30,45,0.6);
	opacity:1;
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
}
.banner-title{
	z-index:997;
	position:relative;
	padding:20rem 0;
}
.banner-title h2{
  color: #fff;
  margin-bottom:2rem;
  font-size: 2.3rem;
  font-weight: 900;
}
.banner-title p {
  font-size:0.9rem;
  color: #fff;
  width:90%;
  margin-bottom:3rem;
  line-height:1.5rem;
  text-align:;
}
.banner-button a{
	text-decoration:none;
	font-weight: 500;
    font-size: 1rem;
    letter-spacing:1px;
    padding: 7px 28px;
    border-radius: 5px;
    margin: 10px;
    color: #fff;
    border:2px solid #428bca;
	background-color:#428bca;
}
.banner-button a:hover {
	background-color:#1c5c93;
	border:2px solid #1c5c93;
} 
/* about section */
.about-coloumn{
        margin: 5rem 0;
    }
    .shadow{
		box-shadow:none;
	}
    .about-row1{
        padding: 0.5rem;
    }
    .about-row1 img{
        width: 100%;
    }
    .about-head{
        margin-bottom: 3rem;
    }
    .about-row2{
        line-height: 1.2rem;
        padding:5rem 3rem 5rem 0;
    }
    .about-row2 h1{
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem;
        color: #5c768d;
    }
    .about-head p{
        width: 100%;
		margin:0;
        word-spacing: 0.5rem;
        font-size: 1rem;
        font-style: italic;
        color: #666;
    }
    .about-content1{
        display: flex;
        margin:0 0 2rem 0;
    }
    .about-content2{
        display: flex;
		margin:0;
    }
    .about-icon i{
        color: #428bca;
        font-size: 2rem;
    }
    .about-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16rem;
        height: 4.5rem;
        background: #f1f7fb;
        border-radius: 6px;
    }
    .icon-content{
        padding-left:1.5rem;
    }
    .icon-content h2{
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 1rem;
        color: #343a40;
    }
    .icon-content p{
        text-decoration: none;
        font-size: 1rem;
        color: #666;
		width:100%;
    }
	/* list section */
	.list-row{
	display:flex;
	flex-wrap:wrap;
	margin:5rem 0;
}
.list-content{
	width:50%;
	padding:3rem 0;
	
}
.list-content span{
	font-size: 2rem;
    font-weight: 400;
    color: #9eccf4;
}
.list-content h4{
	font-size: 1.8rem;
	color:#444;
    font-weight: 400;
    margin: 2rem 0;
}
.list-content p{
	color: #aaaaaa;
    font-size: 1rem;
	width:100%;
	line-height:1.3rem;
}
.bo-1,.bo-3{
	border-bottom:1px solid #d9e8f4;
	border-right:1px solid #d9e8f4;
}
.bo-2,.bo-4{
	border-bottom:1px solid #d9e8f4;
}
.bo-5{
	border-right:1px solid #d9e8fa;
	border-bottom:none;
}
 /* coun section */
     .count{
        background-color: #f5f9fc;
        padding: 5rem 0;
    }
    .count-row{
        display: flex;
        flex-wrap: wrap;
        gap: inherit;
    }
    .count-content{
        width: 46%;
        background-color: #fff;
        box-shadow: 0px 0 16px rgb(0 0 0 / 10%);
        padding:2.7rem 0;
        margin:0 0 30px 20px;
        text-align: center;
    }
    .count-content span{
        font-size: 2.5rem;
        display: block;
        font-weight: 700;
        color: #1c5c93;
        margin-bottom: 1rem;
    }
    .count-content p{
        font-size: 1rem;
    }
	/* service section */
	.service{
    padding: 5rem 0;
}
.service-title{
    text-align: center;
    margin-bottom: 3rem;
}
.service-title h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: #5c768d;
}
.service-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service-content{
    width: 50%;
    text-align: center;
    padding: 1rem;
}
.ser-icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 50%;
    color: #428bca;
    box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
}
.ser-icon i{
    font-size: 2rem;
}
.service-content:hover .ser-icon{
    box-shadow:0px 0 25px blue;
    transition: 2s;
}
.service-content h3{
    color: #444;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}
.service-content h3::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #428bca;
    margin: 0.7rem 0;
    left: calc(50% - 25px);
}
.service-content p{
    line-height: 1.5rem;
    font-size: 0.9rem;
    color: #aaaaaa;
}
/* portfolio */
.portfolio{
    background-color:#f5f9fc;
    padding-bottom: 5rem;
}
.port-title{
    padding-top: 5rem;
}
.port-title h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #5c768d;
}
.port-title p{
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 3rem;
    line-height: 1.4rem;
    color: #444;
}
.port-button{
    text-align: center;
    margin-bottom: 4rem;
}
.port-button a:hover{
    background-color: #1c5c93;
    color: #eee;
}
.port-button a{
    text-decoration: none;
    color: #000;
    font-size: 0.8rem;
    padding: 0.9rem;
    border:1px solid #fff;
    background-color: #fff;
    margin: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}
.pic-row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.pic-img img{
    width: 100%;
}
.pic-img{
    width: 48%;
    position: relative;
}
.pic-content{
    text-align: center;
    opacity: 1;
    padding: 5rem 0;
    align-items: center;
}
.pic-content h2{
    color: #eee;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.6rem;
}
.pic-content p{
    color: #eee;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.port-icon{
    text-align: center;
    display: flex;
    margin-left:8rem ;
}
.port-icon i{
    font-size: 1.3rem;
    border: 1px solid #DFF7F8;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    line-height: 40px;
    margin-right: 20px;
    background-color: #fff;
    color: #428bca;
    display: flow-root;
    text-align: center;
}
.pic-content{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
    text-align: center;
    background: rgba(31, 53, 72, 0.6);
    padding-bottom: 30px;
}
.pic-img:hover .pic-content{
   opacity: 1;
}
}
@media(min-width:992px){
.service{
    padding: 5rem 0;
}
.service-title{
    text-align: center;
    margin-bottom: 3rem;
}
.service-title h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: #5c768d;
}
.service-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service-content{
    width: 33.33%;
    text-align: center;
    padding: 1rem;
}
.ser-icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 50%;
    color: #428bca;
    box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
}
.ser-icon i{
    font-size: 2rem;
}
.service-content:hover .ser-icon{
    box-shadow:0px 0 25px blue;
    transition: 2s;
}
.service-content h3{
    color: #444;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}
.service-content h3::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #428bca;
    margin: 0.7rem 0;
    left: calc(50% - 25px);
}
.service-content p{
    line-height: 1.5rem;
    font-size: 0.9rem;
    color: #aaaaaa;
}
    }
@media (min-width:992px){
.container{
    width:85%;
    margin:auto;
}
.topbar{
    background: #fff;
    border-bottom: 1px solid #eee;
    font-size: 15px;
    height: 40px;
    padding:0.6rem 0;
}
.top-head{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.top-icon1{
    display: flex;
}
.top-icon1 i{
    font-size: 1rem;
    color: #428bca;
    padding: 5px;
}
.top-icon1 p{
    font-size:1.1rem;
    color:black ;
}
.top-icon2{
    letter-spacing: 1rem;
    font-size: 1rem;
    color: #5c768d;
}
.top-icon2 i:hover{
    color:  #428bca;
}
/* headersection */
.header{
    background-color: #fff;
    padding: 1.5rem 0;
}
.head{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
.mobileview{
	display:none;
}
.head-nav{
	display:block;
	}
.head-nav a{
    text-decoration: none;
    padding-right: 2.5rem;
}

.head-title h1{
    font-size: 2rem;
    font-weight: 500;
    color: #5c768d;
}
.head-nav a{
    font-size: 1.1rem;
    color: #5c768d;
}
/*banner section*/
.banner{
	background-image:url("../img/slide/slide-2.jpg");
	background-attachment:fixed;
	width:100%;
	height:80vh;
	background-size:cover;
	position:relative;
}
.banner::after{
	content:"";
	background-color:rgba(0,0,0,0.7);
	opacity:1;
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
}
.banner-title{
	z-index:997;
	position:relative;
	padding:10rem 0;
}
.banner-title h2{
  color: #fff;
  margin-bottom:2rem;
  font-size: 3rem;
  font-weight: 900;
}
.banner-title p {
  font-size:1.2rem;
  color: #fff;
  width:70%;
  margin-bottom:3rem;
  line-height:1.5rem;
  text-align:justify;
}
.banner-button a{
	text-decoration:none;
	font-weight: 500;
    font-size: 1.1rem;
    letter-spacing:1px;
    padding: 12px 32px;
    border-radius: 5px;
    margin: 10px;
    color: #fff;
    border:2px solid #428bca;
	background-color:#428bca;
}
.banner-button a:hover {
	background-color:#1c5c93;
	border:2px solid #1c5c93;
}
/*about section */
.about-coloumn{
    display: flex;
    gap: 3rem;
    margin: 5rem 0;
}
.shadow{
    box-shadow: 0 5px 25px 0 rgb(214 215 216 / 60%);
}
.about-row1{
    width: 50%;
    padding: 0.5rem;
}
.about-row1 img{
    width: 100%;
}
.about-head{
    margin-bottom: 3rem;
}
.about-row2{
    line-height: 1.2rem;
    width: 50%;
    padding:5rem 3rem 5rem 0;
}
.about-row2 h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #5c768d;
}
.about-head p{
    width: 95%;
    word-spacing: 0.5rem;
    font-size: 1rem;
    font-style: italic;
    color: #666;
}
.about-content1{
    display: flex;
    margin:0 0 2rem 0;
}
.about-content2{
    display: flex;
	margin:0;
}
.about-icon i{
    color: #428bca;
    font-size: 2rem;
}
.about-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 4.5rem;
    background: #f1f7fb;
    border-radius: 6px;
}
.icon-content{
    padding-left:1.5rem;
}
.icon-content h2{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #343a40;
}
.icon-content p{
    text-decoration: none;
    font-size: 1rem;
    color: #666;
}
 /* listsection */
.list-row{
	display:flex;
	flex-wrap:wrap;
	margin:5rem 0;
}
.list-content{
	width:33.3%;
	padding:3rem;
	
}
.list-content span{
	font-size: 2rem;
    font-weight: 400;
    color: #9eccf4;
}
.list-content h4{
	font-size: 1.8rem;
	color:#444;
    font-weight: 400;
    margin: 2rem 0;
}
.list-content p{
	color: #aaaaaa;
    font-size: 1rem;
	width:90%;
	line-height:1.3rem;
}
.bo-1,.bo-2{
	border-bottom:1px solid #d9e8f4;
	border-right:1px solid #d9e8f4;
}
.bo-3{
	border-bottom:1px solid #d9e8f4;
	border-right:none;
}
.bo-4,.bo-5{
	border-right:1px solid #d9e8f4;
}
.bo-4{
	border-bottom:none;
}
 /* count section */
.count{
    background-color: #f5f9fc;
    padding: 5rem 0;
}
.count-row{
    display: flex;
    gap: 2rem;
    flex-wrap: nowrap;
}
.count-content{
    width: 25%;
    background-color: #fff;
    box-shadow: 0px 0 16px rgb(0 0 0 / 10%);
    padding:2.7rem 0;
    margin-bottom: 30px;
    text-align: center;
}
.count-content span{
    font-size: 2.5rem;
    display: block;
    font-weight: 700;
    color: #1c5c93;
    margin-bottom: 1rem;
}
.count-content p{
    font-size: 1rem;
}
/*service section*/
.service{
    padding: 5rem 0;
}
.service-title{
    text-align: center;
    margin-bottom: 3rem;
}
.service-title h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: #5c768d;
}
.service-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service-content{
    width: 33.33%;
    text-align: center;
    padding: 1rem;
}
.ser-icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 50%;
    color: #428bca;
    box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
}
.ser-icon i{
    font-size: 2rem;
}
.service-content:hover .ser-icon{
    box-shadow:0px 0 25px blue;
    transition: 2s;
}
.service-content h3{
    color: #444;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}
.service-content h3::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #428bca;
    margin: 0.7rem 0;
    left: calc(50% - 25px);
}
.service-content p{
    line-height: 1.5rem;
    font-size: 0.9rem;
    color: #aaaaaa;
}
/* portfolio */
.portfolio{
    background-color:#f5f9fc;
    padding-bottom:5rem;
}
.port-title{
    padding-top: 5rem;
}
.port-title h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #5c768d;
}
.port-title p{
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 3rem;
    line-height: 1.4rem;
}
.port-button{
    text-align: center;
    margin-bottom: 4rem;
}
.port-button a:hover{
    background-color: #1c5c93;
    color: #eee;
}
.port-button a{
    text-decoration: none;
    color: #000;
    font-size: 0.8rem;
    padding: 0.9rem;
    border:1px solid #fff;
    background-color: #fff;
    margin: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}
.pic-row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.pic-img img{
    width: 100%;
}
.pic-img{
    width: 30%;
    position: relative;
}
.pic-content{
    text-align: center;
    opacity: 1;
    padding: 5rem 0;
    align-items: center;
}
.pic-content h2{
    color: #eee;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.6rem;
}
.pic-content p{
    color: #eee;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.port-icon{
    text-align: center;
    display: flex;
    margin-left:8rem ;
}
.port-icon i{
    font-size: 1.3rem;
    border: 1px solid #DFF7F8;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    line-height: 40px;
    margin-right: 20px;
    background-color: #fff;
    color: #428bca;
    display: flow-root;
    text-align: center;
}
.pic-content{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
    text-align: center;
    background: rgba(31, 53, 72, 0.6);
    padding-bottom: 30px;
}
.pic-img:hover .pic-content{
   opacity: 1;
}
}