
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
 .container{
	width:90%;
	margin:auto;
}
.header{
	position:fixed;
	background-color:rgb(235, 245, 243);
	width:100%;
	padding:1rem 0rem;
	top:4;
	left:0;
	right:0;
	z-index:997;
	align-items:center;

}
 .headbar a{
	text-decoration:none;
}
.headbar li{
	list-style-type:none;
	margin-left:15px;
}
.headbar{
	width:100%;
	height:auto;
	display:flex;
	justify-content:space-between;
    align-items:center; 
}
.logo{
	width:40%;
	height:auto;
}
.logo img{
	width:10%;
	height:40px;
}
.headbar ul{
display:flex;
justify-content:space-between;	
}
.headbar nav{
	width:60%;
	height:auto;
}
 /* panner */
.banner{
	background-image:url(../img/home-bg.jpg);
	background-size:cover;  
	background-attachment:fixed;
	width:100%;
	height:650px;
	/* height:auto; */
	position:relative;
}
.banner-cont h1{ 
	letter-spacing:3px;
	font-size:3rem;
	font-weight:bold;
}
.banner-cont p{
	letter-spacing:3px;
	font-size:18px;
	font-weight:30px;
	margin-top:10px;
}
.banner-cont{
	color:white;
	padding-top:300px;
}
.icons{
	margin-top:10px;
	padding:20px 10px 10px 0px;
}
/* about */
.about-cont{ 
	display:flex;
	justify-content:space-between;
	width:100%;
	height:auto;
	padding-top:60px;
}
.about{
	width:100%;
	padding-top:30px;
	background-color:rgba(191, 198, 201,0.2);
}
.about-pic{ 
	border:15px solid rgb(230, 162, 94);
	margin-top:50px;
	width:25%;
    height:350px;
} 
.about-pic img{
	width:100%;
    /* height:350px; */
	height:auto;
}
.img{
	margin-left:50px;
	margin-top:-10vh;
}
.about-content{
	width:68%; 
	height:auto;
	color:gray;
	margin-top:10vh;
	letter-spacing:3px;
	line-height:30px;
}
.about-content p{
 padding-top:30px;
 text-transform:caption;
}
.about-content h1{
	font-weight:bold;
	font-size:30px;
} 
/* service */
.service{
	width:100%;
     height:auto;
	margin-top:40px;
}
.service-cont{
	width:100%;
	height:auto;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.icon2{
	width:24%;
	box-shadow: 0 0 0.7px black;
	padding:5px;
}
.icon2 h5{
	font-size:11px;
}
.icon2 i{
	font-size:30px;
	color:rgba(176, 82, 19, 0.6);
}
.icon2 p{
	font-size:13px;
	color:gray;
	line-height:3vh;
	padding-top:5px;
}
/* portfolio */
.porfolio{
	margin-top:10%;
	width:100%;
	height:auto;
}
.por-ul{
	margin-top:20px;
}
.pro-link{
	text-align:center;
	width:100%;
}
.pro h1{
	font-size:2rem;
	letter-spacing:1px;
	font-weight:bold;
   text-shadow:0 0 1px black;
   text-align:center;
}
.por-ul a{
	text-decoration:none;
	margin-left:6px;
	font-size:15px;
	color:black;
	font-weight:bold;
	margin-top:30%;
	
}
.por-ul a:hover{
	color:orange;
}
.prof-img{
  width:100%;
  height:auto;
}
.por-img{
	display:flex;
	justify-content:space-between;
	padding-top:20px;
}
.p-img{
	width:33%;
	position:relative;
	height:auto;
}
.img-box{
	width:90%;
	height:auto;
	border-radius:10px;
	box-shadow:0px 0px 2px black;
	background-color:rgba(250, 250, 250,0.9);
	padding:10px;
	opacity:0;
	content:"";
	position:absolute;
	top:200px;
	left:10px;
}
.img-box:hover{
	opacity:1;
}
.p-img img{
	width:100%;
}
/* jour */
.journal{
	margin-top:50px;
	width:100%;
	background-color:rgba(191, 198, 201,0.3);
	
}
.journal h1{
	text-align:center;
	padding-top:10px;
}
.jour{
	width:100%;
	display:flex;
	justify-content:space-between;
	padding-top:30px;
	align-items:center;
}
.jour-cont img{
	width:100%;
	height:auto;
}
.jour-cont{
	width:32%;
	padding-top:15px;
	letter-spacing:1px;
	height:auto;
}
.jour-cont h3{
	padding-top:10px;
	font-weight:1rem;
}
.jour-cont p{
	color:gray;
	padding-top:10px;
	line-height:1rem;
}
/* add */
.address{
	height:auto;
	width:100%;
	background-color:white;
	margin-top:5%;
}
.addressform{
	display:flex;
	justify-content:space-between;
	width:100%;
	height:auto;
	line-height:1.5rem;
	align-items:center;
	font-weight:bold;
}
.addr{
	width:40%;
	height:auto;
}
.addr p{
	color:gray;
	padding-top:10px;
}
.form{
	width:50%;
	height:auto;
	background-color:rgba(191, 198, 201,0.3);
	box-shadow:0 0px 1px black;
	padding:5px;
	
}
.name{
	width:100%;
	height:auto;
	display:flex;
	justify-content:space-between;
}
.name input{
	width:47%;
	height:auto;
	padding-left:5px;
	letter-spacing:1px;
	font-weight:15px;
	font-size:13px;
	color:gray;
}
.name input:hover{
	/* :blue; */
}
.supject input{
	width:100%;
	height:auto;
	margin:10px 0px 0px 0px;
	padding-left:5px;
	letter-spacing:1px;
	font-weight:15px;
	font-size:13px;
	color:gray;

}
.tet textarea{
	width:100%;
	height:auto;
	margin:10px 0px 0px 0px;
	font-weight:bold;
}
button{
	background-color:black;
	color:white;
	width:100%;
	height:auto;
	text-align:center;
	padding:10px 30px;
}
button:hover{
	background-color:white;
	color:black;
}
/* foo */
footer{
	width:100%;
	height:auto;
	background-color:rgba(191, 198, 201,0.3);
	text-align:center;
	margin-top:20px;
}
.copyrite p{
	color:gray;
	padding:10px;
	
}
.i{
	font-size:20px;
	padding: 10px ;
}
.i:hover{
	color:orange;
}