*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
 .container{
	width:90%;
	margin:auto;
}
.header{
	position:fixed;
	background-color:rgba(26, 17, 0,0.7);
	/* opacity:0.6; */
	width:100%;
	height:auto;
	top:4.5%;
	left:0;
	right:0;
	z-index:997;
	align-items:center;
	padding: 15px 0px;

}
 .headbar a{
	text-decoration:none;
	color:white
}
.headbar a:hover{
	color:orange;
}
.headbar li{
	list-style-type:none;
	margin-left:15px;
}
.headbar{
	width:100%;
	height:auto;
	display:flex;
	justify-content:space-between;
    align-items:center; 
}
.logo{
	width:20%;
	height:auto;
	color:white
}
.headbar ul{
display:flex;
justify-content:space-between;	
}
.headbar nav{
	width:65%;
	height:auto;
}
.headbar-b{
	width:15%;
	height:auto;
}
.headbar-b .a{
	border: 1px solid rgb(255, 175, 26);
	padding:5px 15px; 
	border-radius:10px;
	font-size:0.8rem;
}
.headbar-b .a:hover{
	background-color:orange;
	color:white;
}
/* banner */
.banner{
	background-image:url(../img/hero-bg.jpg);
	background-size:cover;  
	background-attachment:fixed;
	width:100%;
	height:650px;
	position:relative;
}
.banner::after{
	content:"";
	position:absolute;
	background-color:rgba(0, 0, 0,0.4);
	top:0;
	bottom:0;
	right:0;
	left:0;

}
.banner-cont2{
	padding-top:25%;
	color:white;
	z-index:996;
	position:relative;
}
.banner-cont2 h1{ 
	letter-spacing:3px;
	font-size:3rem;
	font-weight:bold;
}
.banner-cont2 p{
	letter-spacing:3px;
	font-size:1.5rem;
	font-weight:30px;
	margin-top:10px;
}
.banner-button{
		margin-top:15px;
}
.banner-button a{
	color:white;
	border: 2px solid rgb(255, 175, 26);
	padding:10px 30px; 
	border-radius:30px;
	font-size:0.8rem;
	text-decoration:none;
	opacity:1;
}
.banner-button a:hover{
	background-color: rgba(255, 175, 26, 0.9);
}
.icon{
	font-size:20px;
	color:orange;
	font-weight:bold;
	z-index:-1;	align-items:center;
	padding:1px 10px 0px 0px;
	z-index:997;
}
.banner-icon span{
	color:white;
	z-index:997;
}
.about{
	background-image:url(../img/about-bg.jpg);
	background-size:cover;  
	background-attachment:fixed;
	width:100%;
	height:650px;
	position:relative;
}
.about::after{
	content:"";
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	background-color:rgba(0, 0, 0,0.5);
}
.abou{
	display:flex;
	justify-content:space-between;
	width:100%;
	height:auto;
	padding-top:100px;
}
.about-cont{
	width:49%;
	height:auto;
	color:white;
	z-index:1;
}
.about-cont h3{
	letter-spacing:1px;
	font-weight:bold;
	line-height:2rem;
	font-size:2rem;
}
.about-cont p{
	letter-spacing:1px;
	font-size:1.2rem;
	line-height:1.5rem;
	padding: 10px 0px;
}
.about-cont p .ion{
	color:orange;
	padding-right:10px;
}
.abo-img{
	width:50%;
	height:auto;
	z-index:1;
}
.abo-img img{
	width:100%;
	
}
/* whyus */
.whyus{
	background-color: black;
	padding:4% 0;
}
.why-cont{
	width:100%;
}
.why-cont h4{
	color:gray;
	font-size:1rem;
}
.why-cont h4::after{
	content:"";
	position:relative;
	width:20%;
	height:2px;
	color:gray;
}
.why-cont h1{
	color:orange;
	font-size:2.5rem;
	margin:10px 0px;
}
.row-flex{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	color:white;
	width:100%;
}
.flex-box{
	width:32%;
	background-color:rgb(77, 75, 70);
	border-radius:20px;
	padding:3%;
}
.flex-box h3{
	font-size:2rem;
	color:orange;
	margin:5px 0px;
}
.flex-box h3:hover{
	color:white;
}
.flex-box h1{
	font-size:2rem;
	margin:5px 0px;
}
.flex-box p{
	font-size:1.2rem;
	line-height:1.5rem;
	
}
.flex-box:hover{
	background-color:orange;
	color:white;
}
/* menu */
.menu{
	background-color: #1a1814;	
}
.menu-link{
	width:100%;
	text-align:center;
	margin:10px 0px;
}
.menu-link  ul li{
	list-style-type:none;
	display:inline-block;
	padding:0px 10px;
}
.menu-link ul li a{
	text-decoration:none;
	color:white;
	font-size:18px;
}
.menu-link ul li a:hover{
	color:orange;
}
.menu-img{
	display:flex;
	justify-content:space-between;
	width:100%;
}
.menu-img .menu-cont{
	width:50%;
	display:flex;
	justify-content:space-between;
}
.menu-cont .menu-img2{
	width:50%;
}
.img-radius{
	width:15%;
}
.img-radius img{
	width:100%;
	border-radius:50%;
	border:5px solid gray;
}
.menu-cont2{
	width:85%;
}
.menu-cont2 h3{
	color:white;
	font-size:1rem;
}